// colors:
$main-1: #000;
$main-2: #fff;
$main-3: #f5f5f5;
$dark-gray: #4b4b4b;
$gray: #808080;
$gray-low-opacity: #80808080;
$amber: #ffbf00;
$amber-low-opacity: #ffbf0080;
$product-card-background-opacity: #00000030;
$modal-background-opacity: #00000080;
$ios-blue: #1e90ff;
$default-gray-dm: #d3d3d350;
$active-gray-dm: #d3d3d3cc;
$default-gray-lm: #d3d3d395;
$active-gray-lm: #a4a4a4;
$magenta-pink: #ea0a8e;
$semantic-ui-purple: #a333c8;
$semantic-ui-button-gray: #e0e1e2 none;
$semantic-ui-icon-gray-low-opacity: #00000046;
$semantic-ui-icon-gray: #00000099;
$semantic-ui-active: #21ba45;
$money-green:#85bb65;

// font-sizes:
$font-size-xxl: 8em;
$font-size-xl: 5em;
$font-size-l: 3em;
$font-size-medium: 2em;
$font-size-normal: 1em;
$font-size-small: .5em;
$font-size-xs: .25em;

// box-shadows:
$shadow-light: 0px 1px 6px #00000029;
$shadow-medium: 0px 1px 6px #00000069;
$shadow-dark: 0px 1px 6px #000000;
$semantic-ui-card-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;