@import "../../../scss/common.styles.scss";

.navBarComponentMenu {
    display: flex !important;
    justify-content: stretch;
    width: 80%;
    margin: auto !important;
    padding: 0 !important;
    .navBarComponentMenuItem {
        flex-grow: 1 !important;
        display: flex !important;
        justify-content: center;
    }
    .navBarComponentMenuItem.active {
        background: $magenta-pink !important;
        color: $main-2 !important;
    }
}